@charset "utf-8";
/* CSS Document */
p {
   color: white;
   font-family:"Palatino Linotype", "Book Antiqua", "Palatino", "serif"
   font-size: 20px;
   line-height: 25px;
   width: 1500px;
   background-color: #C9A9A6;
   padding: 20px;
}
h1 {
	font-family:"Times New Roman", "Times", "serif";
	color: #C9A9A6;
}
body{
	background-image: url("Fotografije/valentines-day-3920638_1280.jpg");
}